<ion-header>
  <ion-navbar color="headerbackground">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Transactions</ion-title>
    <ion-buttons end [navPush]="help">
      <button ion-button icon-only>
        <ion-icon name="help"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid class="navTop" ion-fixed>
    <ion-row text-center>
      <ion-col col-4>
        <div class="navcust" [ngClass]="{'active': sender == true}" (tap)="active('sender')">Sender</div>
      </ion-col>
      <ion-col col-4>
        <div class="navcust" [ngClass]="{'active': courier == true}" (tap)="active('courier')">Courier</div>
      </ion-col>
      <ion-col col-4>
        <div class="navcust" [ngClass]="{'active': receiver == true}" (tap)="active('receiver')">Receiver</div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="containera">
    <ion-list *ngFor="let transaction of transactionList$ | async">
      <ion-card *ngIf="loggedInUser == transaction.senderId || loggedInUser == transaction.courierId || loggedInUser == transaction.receiverId">
          <div *ngIf="sender == true && transaction.senderId == loggedInUser">
            <ion-card-header text-center>
              <b>{{transaction.itemName}}</b>
            </ion-card-header>
            <ion-card-content>
              <p text-center>{{transaction.itemDescription}}</p>
              <p (tap)="viewProfile(transaction.senderId)"><b>Sent by:</b> {{transaction.senderName}}</p>
              <p (tap)="viewProfile(transaction.courierId)"><b>Via</b> {{transaction.courierName}}</p>
              <p (tap)="viewProfile(transaction.receiverId)"><b>Sent to:</b> {{transaction.receiverName}}</p>
              <p><b>From:</b> {{transaction.fromAddress}}</p>
              <p><b>To:</b> {{transaction.toAddress}}</p>
              <ion-grid>
                <ion-row>
                  <ion-col col-4 *ngFor="let img of transaction.images">
                    <img src="{{img}}" (tap)="openModal(img)">
                  </ion-col>
                </ion-row>
              </ion-grid>
              <p text-center class="itemAt">
                <span *ngIf="transaction.itemAt == transaction.senderId">Item is with you:<br>{{transaction.senderName}}</span>
                <span *ngIf="transaction.itemAt == transaction.courierId">Item is with:<br>{{transaction.courierName}}</span>
              </p>
              <p text-center class="itemAt" *ngIf="transaction.travelstarted">Travel has started</p>
              <img src="assets/imgs/p2.png" *ngIf="transaction.itemAt == transaction.senderId">
              <img src="assets/imgs/p3.png" *ngIf="transaction.itemAt == transaction.courierId">
              <button ion-button block *ngIf="transaction.itemAt == transaction.courierId && transaction.travelstarted"  (tap)="track(transaction)">Track courier</button>
            </ion-card-content>
          </div> 
          <!-- end sender -->


          <div *ngIf="courier == true && transaction.courierId == loggedInUser">
            <ion-card-header text-center>
              <b>{{transaction.itemName}}</b>
            </ion-card-header>
            <ion-card-content>
              <p text-center>{{transaction.itemDescription}}</p>
              <p (tap)="viewProfile(transaction.senderId)"><b>Sent by:</b> {{transaction.senderName}}</p>
              <p (tap)="viewProfile(transaction.courierId)"><b>Via</b> {{transaction.courierName}}</p>
              <p (tap)="viewProfile(transaction.receiverId)"><b>Sent to:</b> {{transaction.receiverName}}</p>
              <p><b>From:</b> {{transaction.fromAddress}}</p>
              <p><b>To:</b> {{transaction.toAddress}}</p>
              <ion-grid>
                <ion-row>
                  <ion-col col-4 *ngFor="let img of transaction.images" class="imagecontainer">
                    <img src="{{img}}" (tap)="openModal(img)">
                  </ion-col>
                </ion-row>
              </ion-grid>
              <p text-center class="itemAt">
                <span *ngIf="transaction.itemAt == transaction.senderId">Item is with:<br>{{transaction.senderName}}</span>
                <span *ngIf="transaction.itemAt == transaction.courierId">Item is with you:<br>{{transaction.courierName}}</span>
              </p>
              <p text-center class="itemAt" *ngIf="transaction.travelstarted">Travel has started</p>
              <img src="assets/imgs/p2.png" *ngIf="transaction.itemAt == transaction.senderId">
              <img src="assets/imgs/p3.png" *ngIf="transaction.itemAt == transaction.courierId">
              <button ion-button block (tap)="startTravel(transaction)" *ngIf="transaction.itemAt == transaction.courierId && !transaction.travelstarted">Start this Travel
              </button>
              <button ion-button block (tap)="courierConfirm(transaction)" *ngIf="transaction.itemAt == transaction.senderId">tap here if you have the item</button>
            </ion-card-content>
          </div>
          <!-- end courier -->


          <div *ngIf="receiver == true && transaction.receiverId == loggedInUser">
            <ion-card-header text-center>
              <b>{{transaction.itemName}}</b>
            </ion-card-header>
            <ion-card-content>
              <p text-center>{{transaction.itemDescription}}</p>
              <p (tap)="viewProfile(transaction.senderId)"><b>Sent by:</b> {{transaction.senderName}}</p>
              <p (tap)="viewProfile(transaction.courierId)"><b>Via</b> {{transaction.courierName}}</p>
              <p (tap)="viewProfile(transaction.receiverId)"><b>Sent to:</b> {{transaction.receiverName}}</p>
              <p><b>From:</b> {{transaction.fromAddress}}</p>
              <p><b>To:</b> {{transaction.toAddress}}</p>
              <ion-grid>
                <ion-row>
                  <ion-col col-4 *ngFor="let img of transaction.images">
                    <img src="{{img}}" (tap)="openModal(img)">
                  </ion-col>
                </ion-row>
              </ion-grid>
              <p text-center class="itemAt">
                <span *ngIf="transaction.itemAt == transaction.senderId">Item is with:<br>{{transaction.senderName}}</span>
                <span *ngIf="transaction.itemAt == transaction.courierId">Item is with:<br>{{transaction.courierName}}</span>
              </p>
              <p text-center class="itemAt" *ngIf="transaction.travelstarted">Travel has started</p>
              <img src="assets/imgs/p2.png" *ngIf="transaction.itemAt == transaction.senderId">
              <img src="assets/imgs/p3.png" *ngIf="transaction.itemAt == transaction.courierId">
              <button ion-button block (tap)="receiverConfirm(transaction)" *ngIf="transaction.itemAt == transaction.courierId && transaction.travelstarted">tap here if you have the item</button>
              <button ion-button block *ngIf="transaction.itemAt == transaction.courierId && transaction.travelstarted"  (tap)="track(transaction)">
              Track courier</button>
            </ion-card-content>
          </div>
      </ion-card>
    </ion-list>
  </div>
</ion-content>
