<ion-header>
  <ion-navbar color="headerbackground">
    <ion-title>{{profileName}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content text-center>
  <img class="pp" src="{{profileImage}}" (click)="openModal(profileImage)">
  <h2>{{profileName}}</h2>
  <p>{{profileUsername}}</p>
  <div class="review profile" text-center *ngIf="userRating">
    {{userRating}} / 5
    <ion-icon name="star" *ngIf="Round(userRating) > 0"></ion-icon>
    <ion-icon name="star" *ngIf="Round(userRating) > 1"></ion-icon>
    <ion-icon name="star" *ngIf="Round(userRating) > 2"></ion-icon>
    <ion-icon name="star" *ngIf="Round(userRating) > 3"></ion-icon>
    <ion-icon name="star" *ngIf="Round(userRating) > 4"></ion-icon>
  </div>
  <p class="description" *ngIf="profileDescription">{{profileDescription}}</p>
  <div class="review">
	  <ion-list ion-item *ngFor="let item of ListOfitems">
	  	{{item.firstname}} {{item.lastname}} ({{item.username}})<br>
	  	<ion-icon name="star" *ngIf="item.rating > 0"></ion-icon>
		<ion-icon name="star" *ngIf="item.rating > 1"></ion-icon>
		<ion-icon name="star" *ngIf="item.rating > 2"></ion-icon>
		<ion-icon name="star" *ngIf="item.rating > 3"></ion-icon>
		<ion-icon name="star" *ngIf="item.rating > 4"></ion-icon>
		<br>
	  	<p>{{item.timestamp | date:'mediumDate'}} {{item.timestamp | date:'shortTime'}}</p>
	  	<br>
	  	<p class="reviewText">{{item.review}}</p>
	  </ion-list>
  </div>
</ion-content>


