page-viewprofile {
	.pp{
		margin-top: 3vh;
		border-radius: 50%;
		width: 200px;
		height: 200px;
	}

	.review{
		margin-top: 10px;
		border-top: 2px solid grey;
	}

	.reviewText{
		color: black;
	}

}
