<ion-header>
  <ion-navbar color="headerbackground">
    <ion-title>{{chatName}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content #content>
  <ion-item no-lines *ngFor="let item of items | async">
    <div item-right *ngIf="item.senderId === userInChat">
      <div class="me bubble" *ngIf="!item.isItem">
        {{item.content}}
        <br>
        <br>
        <div class="chatTimestamp">{{item.timestamp | date:'mediumDate'}} {{item.timestamp | date:'shortTime'}}</div>
      </div>
    </div>
    <div item-left *ngIf="item.senderId != userInChat">
      <p class="name" *ngIf="!item.isItem">{{item.senderName}}:</p>
      <div class="you bubble" *ngIf="!item.isItem">
        {{item.content}}
        <br>
        <br>
        <div class="chatTimestamp">{{item.timestamp | date:'mediumDate'}} {{item.timestamp | date:'shortTime'}}</div>
      </div>
    </div>
    <div *ngIf="item.isItem">
      <ion-card>
        <ion-card-header text-center>
          {{item.itemName}}
        </ion-card-header>
        <ion-card-content>
          <p text-center>{{item.itemDescription}}</p>
          <hr>
          <div>
            <p (tap)="viewProfile(item.senderId)">Sent by: {{item.senderName}}</p>
            <br>
            <p (tap)="viewProfile(item.receiverId)">Send to: {{item.receiverName}}</p>
          </div>
          <ion-grid>
            <ion-row>
              <ion-col col-4 *ngFor="let img of item.images">
                <img src="{{img}}" (tap)="openModal(img)">
              </ion-col>
            </ion-row>
          </ion-grid>
          <div *ngIf="item.isAccepted == false && item.isDeclined == false && item.senderId != userInChat">
            <button col-6 ion-button (tap)="Accept(item)">Accept</button>
            <button col-6 ion-button color="light" (tap)="Decline(item)">Decline</button>
          </div>
          <div *ngIf="item.isAccepted == false && item.isDeclined == false && item.senderId == userInChat">
            <p col-12 class="wait">Waiting for decision</p>
          </div>
          <p col-12 class="accept" background-color="primary" *ngIf="item.isAccepted == true">Item Accepted!</p>
          <div *ngIf="item.isDeclined == true && item.isAccepted == false">
            <p col-12 class="decline">Item Declined!</p>
          </div>
        </ion-card-content>
        <div class="chatTimestamp item" style="display: block; text-align: center">{{item.timestamp | date:'mediumDate'}} {{item.timestamp | date:'shortTime'}}</div>
      </ion-card>
    </div>
  </ion-item>
</ion-content>
<ion-footer ion-fixed>
  <ion-toolbar class="no-border" color="white">
    <ion-input type="text" [(ngModel)]="newmessage" placeholder="Type a message..."></ion-input>
    <ion-buttons end>
      <button ion-button (tap)="addMessage()">
        <ion-icon name="send" color="primary"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
