<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{user.firstname}} {{user.lastname}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content #content>
  <ion-item no-lines *ngFor="let item of items | async">
    <div item-right *ngIf="item.senderId === userInChat">
      <div class="me bubble" *ngIf="!item.isItem">
        {{item.content}}
        <br>
        <br>
        <div class="chatTimestamp">{{item.timestamp | date:'mediumDate'}} {{item.timestamp | date:'shortTime'}}</div>
      </div>
    </div>
    <div item-left *ngIf="item.senderId != userInChat">
      {{item.senderFirstname}} {{item.senderLastname}}:
      <div class="you bubble" *ngIf="!isItem">
        {{item.content}}
        <br>
        <br>
        <div class="chatTimestamp">{{item.timestamp | date:'mediumDate'}} {{item.timestamp | date:'shortTime'}}</div>
      </div>
    </div>
    <div *ngIf="item.isItem">
      <ion-card>
        <ion-card-header text-center>
          {{item.itemName}}
        </ion-card-header>
        <ion-card-content>
            <p text-center>{{item.itemDescription}}</p>
            <hr>
          <div>
            <p (click)="viewProfile(item.senderId)">Sent by: {{item.senderFirstname}} {{item.senderLastname}}</p>
            <br>
            <p (click)="viewProfile(item.receiverId)">Send to: {{item.receiverName}}</p>
          </div>
          <ion-grid>
            <ion-row>
              <ion-col col-4 *ngFor="let img of item.images">
                <img src="{{img}}" (click)="openModal(img)">
              </ion-col>
            </ion-row>
          </ion-grid>
          <!-- <div *ngIf="item.senderId != userInChat"> -->
            <div *ngIf="item.isAccepted == false && item.isDeclined == false">
              <button col-6 ion-button (click)="Accept(item)">Accept</button>
              <button col-6 ion-button color="light" (click)="Decline(item)">Decline</button>
            </div>
            <div *ngIf="item.isAccepted == true">
              <button ion-button col-12 color="primary">Courier Accepted!</button>
            </div>
            <div *ngIf="item.isDeclined == true && item.isAccepted == false">
              <button color="danger" ion-button col-12>Courier Declined!</button>
            </div>
          <!-- </div> -->
        </ion-card-content>
        <div class="chatTimestamp item" style="display: block; text-align: center">{{item.timestamp | date:'mediumDate'}} {{item.timestamp | date:'shortTime'}}</div>
      </ion-card>
    </div>
  </ion-item>
</ion-content>
<ion-footer ion-fixed>
  <ion-toolbar class="no-border" color="white">
    <ion-input type="text" [(ngModel)]="newmessage" placeholder="Type a message..."></ion-input>
    <ion-buttons end>
      <button ion-button (click)="addMessage()">
        <ion-icon name="send" color="primary"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
