<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{user.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item no-lines *ngFor="let item of messageList$ | async">

    <div item-right *ngIf="item.user != user.name">
      <div class="bubble">
        {{item.message}} {{item.timestamp}} a
      </div>
    </div>

    <div item-left *ngIf="item.user === user.name">
        {{item.user}}: 
      <div class="bubble">
        {{item.message}} {{item.timestamp}} b
      </div>
    </div>

  </ion-item>
</ion-content>

<ion-footer ion-fixed>
	<ion-toolbar class="no-border" color="white">
		<ion-input type="text" [(ngModel)]="newmessage" placeholder="Write your message..."></ion-input>
		<ion-buttons end>
	      <button ion-button (click)="addMessage()">
	        <ion-icon name="send" color="primary"></ion-icon>
	      </button>
	    </ion-buttons>
	</ion-toolbar>
</ion-footer>