page-profile {
	.pp{
		margin-top: 3vh;
		border-radius: 15%;
		width: 200px;
		height: 200px;
	}

	.description{
		margin: 2vh 10vw 1vh 10vw;
		padding: 3vh;
		border: 1px solid grey;
	}

	.review{
		margin-top: 10px;
		border-top: 2px solid grey;
	}

	.reviewText{
		color: black;
	}

	.review > ion-list > .icon, .item-icon, 
	.review.profile > .icon{
		color: #F2AF01;
	}

	.review.profile {
		margin-top: 0px ;
		border-top: none;
	}
}
