page-profile {
	// .editProfile{
	// 	margin-top: 10vh;
	// }
	.pp{
		margin-top: 3vh;
		border-radius: 50%;
		width: 200px;
		height: 200px;
	}

	.description{
		margin: 2vh 10vw 1vh 10vw;
		padding: 3vh;
		border: 1px solid grey;
	}
}
