page-chatlist {
	.notif{
        display: flex;
        justify-content: flex-end;
	}

	.chatTimestamp{
        display: flex;
        justify-content: flex-end;
        font-size: 1.3rem;
        color: grey
    }
}
