<ion-header>
  <ion-navbar color="headerbackground">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Chat Threads</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list *ngFor="let item of chatList$ | async" >
  <ion-card (tap)="messageUser($event, item)">
    <ion-card-header>
      <h2 text-center class="chatListName">{{item.title}}</h2>
      <div class="notif">
       <ion-badge *ngIf="item.seen == false" color="danger">unread</ion-badge>
      </div>
    </ion-card-header>
    <ion-card-content>
      {{item.lastMessage}}
      <br>
      <br>
      <div class="chatTimestamp">{{item.timestamp | date:'mediumDate'}} {{item.timestamp | date:'shortTime'}}</div>
    </ion-card-content>
  </ion-card>
</ion-list>
</ion-content>
