<ion-header>
  <ion-navbar color="headerbackground">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Chat Threads</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="sidemenuBg">
  <ion-list>
    <button ion-item *ngFor="let item of chatList$ | async" (tap)="messageUser($event, item)">
      <div class="notif">
        <ion-badge *ngIf="item.seen == false" color="danger">unread</ion-badge>
      </div>
      <h3><b>{{item.title}}</b></h3>
      <p>{{item.lastMessage}}</p>
      <div class="chatTimestamp">{{item.timestamp | date:'mediumDate'}} {{item.timestamp | date:'shortTime'}}</div>
    </button>
  </ion-list>
</ion-content>
