<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Travels</ion-title>

    <ion-buttons end (click)="addTravel($event)">
      <button ion-button icon-only>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let item of travelList$ | async">
    <ion-card (click)="itemTapped($event, item)" *ngIf="item.userId == currentUserId">
      <ion-card-header>
        <h4><b>{{item.firstname}} {{item.lastname}} ({{item.email}})</b></h4>
      </ion-card-header>
      <ion-card-content>
        <h5>{{item.fromAddress}}</h5>
        <p>at {{item.fromDate}}</p>
        <h6>To</h6>
        <h5>{{item.toAddress}}</h5>
        <p>at {{item.toDate}} </p>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
