page-home {
	.search{
		margin: 0;
		padding: 0;
	}

	.travellist{
		margin-top: 50px;
	}

	.review > .icon, .item-icon{
		color: #F2AF01;
	}

	.fabBtn{
		background-color: rgba(242, 195, 1, 0.7);
	}
}
