<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Travel Board</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
      <button ion-item *ngFor="let item of travelList$ | async" (click)="itemTapped($event, item)">
          <h4><b>{{item.name}} ({{item.email}})</b></h4>
          <!-- <h6>From</h6> -->
          <h5>{{item.fromAddress}}</h5>
          <p>at {{item.fromDate}}</p>
          <h6>To</h6>
          <h5>{{item.toAddress}}</h5>
          <p>at {{item.toDate}} </p>
      </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
  <ion-fab bottom right class="fabBottom" (click)="addTravel($event)">
    <button ion-fab><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
