// http://ionicframework.com/docs/theming/
.backgroundhead{
	
	background: -webkit-linear-gradient(left top, map-get($colors, headerbackground),map-get($colors, headerbackgrounds));
	background: -0-linear-gradient(bottom right,map-get($colors, headerbackground), map-get($colors, headerbackgrounds));
     background: -moz-linear-gradient(bottom right, map-get($colors, headerbackground),map-get($colors, headerbackgrounds));
	background: linear-gradient(to bottom right, map-get($colors, headerbackground), map-get($colors, headerbackgrounds));
}
#styleforProfile{
	border-radius: 15%;
	border: 2px solid #F2AF01 ;
}
#logo{
	margin-left:70px;
}

button{
	color:#F2AF01;
	margin-bottom: -10px;
}
.profileContainer{
	// padding-bottom: 1rem;
	// margin: 0 auto;
	padding-left: 0;
}
#whiteHead{
	color:white;
}

.border.item-md.item-block .item-inner {
  border-bottom: 0;
  border-style: none;
 }
.activeHighlight{
	background-color: #F2AF01;

}
// .toolbar-title.toolbar-title-md, 
// .toolbar-title.toolbar-title-ios, 
// .toolbar-title.toolbar-title-wp, 
// .back-button-icon,
// .back-button-text,
// .icon { color: #FAFAFA; }

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.