<ion-header>
  <ion-navbar color="headerbackground">
    <ion-title>My Travel</ion-title>
  </ion-navbar>
</ion-header>


<ion-content margin-top>
  <div text-center>
    <p>From: {{selectedItem.fromAddress}} on {{selectedItem.fromDate}}</p>
    <p>To: {{selectedItem.toAddress}} and will arrive at {{selectedItem.toDate}}</p>
  </div>
  <div #map id="map"></div>
  <h1 text-center>Items</h1>
  <ion-list *ngFor = "let item of items$ | async">
  	<ion-card>
  	  <ion-card-header>
  		{{item.itemName}}
  	  </ion-card-header>
  	  <ion-card-content>
	  	Item description: {{item.itemDescription}}<br>
	  	Sent by: {{item.sender}}<br>
	  	<p>To: {{item.receiverName}} {{item.receiverId}}</p>
		<ion-grid>
		    <ion-row>
		      <ion-col col-4 *ngFor = "let images of item.images">
		  			<img src="{{images}}" (click)="openModal(images)">
		      </ion-col>
		    </ion-row>
	  	</ion-grid>
  	  </ion-card-content>
  	</ion-card>
  </ion-list>
</ion-content>
