page-continuechat {
    .chatTimestamp{
        display: flex;
        font-size: 1.3rem;
    }

	.bubble{
	    background-color: #F2F2F2;
	    border-radius: 5px;
	    box-shadow: 0 0 6px #B2B2B2;
	    padding: 10px 18px;
	}

	.me {
	    text-align: right;
	    color: #fff;
	    background-color: #4080ff;
	    .chatTimestamp{
  	      	justify-content: flex-end;
        	color: #EEE
	    }
	}

	 
	.you {
	    text-align: left;
	    background-color: #f1f0f0;
	    color: #4b4f56;
	    .chatTimestamp{
  	      	justify-content: flex-start;
  	      	color: #7F848E
	    }
	}
}
