<ion-header>
  <ion-navbar color="headerbackground">
    <ion-title>Add Item</ion-title>
  </ion-navbar>
</ion-header>
<ion-content text-center margin-top>
  <button ion-button [disabled]="disabled" (tap)="presentActionSheet()">
    <ion-icon name="camera"></ion-icon>&nbsp;Add Photo
  </button>
  <br>You may upload up to 3 pictures
  <ion-grid>
    <ion-row>
      <ion-col col-4 *ngFor="let photo of photos; let id = index ">
        <ion-card class="block">
          <ion-icon name="trash" class="deleteIcon" (tap)="deletePhoto(id)"></ion-icon>
          <img [src]="photo" *ngIf="photo" />
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list no-lines>
    <ion-item (tap)="chooseReceiver()">
      <ion-label floating>Receiver</ion-label>
      <ion-input type="text" [(ngModel)]="receiver" disabled="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Item Name</ion-label>
      <ion-input type="text" [(ngModel)]="ItemName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Item Description</ion-label>
      <ion-textarea type="text" [(ngModel)]="ItemDescription"></ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer ion-fixed>
  <button ion-button block color="primary" (tap)="addItem()">Add</button>
</ion-footer>
