<ion-header>
  <ion-navbar color="headerbackground">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Transaction History</ion-title>
    <ion-buttons end [navPush]="helpForTransactionHistory">
      <button ion-button icon-only>
        <ion-icon name="help"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list *ngFor="let transaction of transactionList$ | async">
      <div *ngIf="loggedInUser == transaction.senderId || loggedInUser == transaction.courierId || loggedInUser == transaction.receiverId"> <ion-card>
        <ion-card-header text-center>
          <b>{{transaction.itemName}}</b>
        </ion-card-header>
        <ion-card-content>
          <p text-center>{{transaction.itemDescription}}</p>
          <p (tap)="viewProfile(transaction.senderId)"><b>sent by:</b> {{transaction.senderName}}</p>
          <p (tap)="viewProfile(transaction.courierId)"><b>via</b> {{transaction.courierName}}</p>
          <p (tap)="viewProfile(transaction.receiverId)"><b>sent to:</b> {{transaction.receiverName}}</p>
          <p><b>from:</b> {{transaction.fromAddress}}</p>
          <p><b>to:</b> {{transaction.toAddress}}</p>
          <ion-grid>
            <ion-row>
              <ion-col col-4 *ngFor="let img of transaction.images">
                <img src="{{img}}" (tap)="openModal(img)">
              </ion-col>
            </ion-row>
          </ion-grid>
            <img src="assets/imgs/p4.png">
          <div *ngIf="loggedInUser == transaction.senderId">
            <button ion-button block (tap)="review(transaction.courierId, transaction.key)" *ngIf="!transaction.senderReviewed">Review {{transaction.courierName}}</button>
            <button ion-button block *ngIf="transaction.senderReviewed">You already reviewed<br> {{transaction.courierName}}</button>
          </div>
          <div *ngIf="loggedInUser == transaction.receiverId">
            <button ion-button block (tap)="review(transaction.courierId, transaction.key)" *ngIf="!transaction.receiverReviewed">Review {{transaction.courierName}}</button>
            <button ion-button block *ngIf="transaction.receiverReviewed">You already reviewed<br> {{transaction.courierName}}</button>
          </div>
        </ion-card-content>
        </ion-card>
      </div>
  </ion-list>
</ion-content>
