<ion-header>
  <ion-navbar color="headerbackground">
    <ion-title>Travel</ion-title>
    <ion-buttons end [navPush]="help">
      <button ion-button icon-only>
        <ion-icon name="help"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content margin-top>
  <div text-center>
    <div (tap)="viewProfile()">
      <img src="{{posterImage}}" style="height: 150px; width: 150px; border-radius: 15%;">
      <p text><b>{{posterName}}</b></p>
    </div>
    <p><b>From:</b> {{selectedItem.fromAddress}} on {{selectedItem.fromDate}}<br><b>To:</b> {{selectedItem.toAddress}} and will arrive at {{selectedItem.toDate}}</p>
  </div>
  <div #map id="map"></div>
</ion-content>
<ion-footer *ngIf="user != selectedItem.userId">
  <div *ngIf="UserIsVerified && !UserIsDeclined">
    <button ion-button color="primary" block (tap)="addItem($event)">
      Request Delivery
    </button>
    <button ion-button color="primary" block (tap)="messageUser($event)">
      Message {{selectedItem.firstname}} {{selectedItem.lastname}}
    </button>
  </div>
</ion-footer>
